body {
    background: black;
    color: #00ff00;
    font-family: monospace;
    text-shadow: 0 0 5px #00ff00;
    margin: 0;
}

#app {
    display: flex;
    height: 100vh;
}

#console {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#preview {
    width: 40%;
    border-left: 1px solid #00aa00;
    display: flex;
    align-items: center;
    justify-content: center;
}

    #preview img {
        max-width: 90%;
        max-height: 90%;
        display: none;
        box-shadow: 0 0 20px #00ff00;
    }

#input-line {
    display: flex;
}

input {
    background: black;
    border: none;
    color: #00ff00;
    outline: none;
    font-family: monospace;
    flex: 1;
}

#output {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00aa00 black;
}

#output div {
    margin-bottom: 4px;
}

/*#input-line span {
    margin-right: 8px;
    color: #00aa00;
}*/

input:focus {
    text-shadow: 0 0 8px #00ff00;
}
